@import '../../scss/colors';

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  &__content {
    background-color: $dark-grey;
    border: 1px solid black;
    border-radius: 8px;
    width: 500px;
    height: 350px;
    padding: 10px;
    &__inputs_wrapper {
      height: 90%;
      border-bottom: 1px solid black;
      &_row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__buttons {
      height: 10%;
      position: relative;
      display: flex;
      align-items: center;

      &_right-button {
        position: absolute;
        right: 0;
      }
      &_left-button {
        position: absolute;
        left: 0;
      }
    }
  }
}



