.applications-page {
  padding: 30px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {
	margin-bottom: 5px;
  }
  &__error-message {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
}
