@import '../../scss/colors';

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__item {
    width: 400px;
    height: 400px;
    background-color: $light-grey;
    margin-bottom: 15px;
  }
  &__item-text {
    margin-left: 8px;
  }
  &__item-image {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}


