.news-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__item {
    width: 400px;
    height: 400px;
    background-color: #333336;
    margin-bottom: 15px;

    &_text {
      margin-left: 8px;
    }
    &_image {
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }
  }
}


