@import '../../scss/colors';

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-grey;
  width: 100%;
  height: 100px;
}
.header-content {
  display: flex;
  justify-content: center;
  width: 95%;
  &_link {
    padding-right: 15px;
    font-size: 30px;
    &:last-child {
      padding-right: 0;
    }
  }
}
.exit-button-wrapper {
  width: 5%;
  &_exit-button {
    height: 35px;
    width: 90%;
    background-color: $light-grey;
    border-radius: 8px;
  }
}
.activeUser {
  margin-bottom: 160px;
  font-size: 18px;
}
