@import '../../scss/colors';

.login {
  display: flex;
  justify-content: center;

  &__form {
    position: relative;
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    background-color: $dark-grey;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);;
    border: 2px solid rgba(0, 0, 0, 0.25);
  }
  &__header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 10px 0;
    font-size: 30px;
  }
  &__referance-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
  }
  &__content {
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__input-wrapper {
    height: 80%;
    width: 80%;
  }
  &__button-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
  }
  &__error {
    margin-bottom: 5px;
    color: red;
  }
}








